findspark
jupyterlab_code_formatter
pyhive
sqlalchemy
networkx
pyarrow
jaydebeapi
pyodbc
tqdm
trino
sqlalchemy-trino
pyhive
thrift
kafka-python
ipywidgets
psycopg2-binary
jupyterlab
jupyterlab_code_formatter
plotly
dash
pymysql
ipython-sql